[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
yapf = "*"
pipenv-to-requirements = "*"

[packages]
django = "==2.2.13"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-redis = "*"
pipenv = "*"
redis = "*"
ipython = "*"
pylint = "*"

[requires]
python_version = "3.6"
